:host {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  grid-template-rows: 100px 1fr auto 50px;
  grid-template-areas:
    ". . ."
    ". form ."
    ". list ."
    ". . .";
  row-gap: 10px;

  app-address-form {
    grid-area: form;
    justify-self: center;
  }
  app-address-list {
    grid-area: list;
  }
}
